<form action="/procesa" method="post">
  <p>
    <label for="id_nombre">Escribe tu nombre:</label>
    <input id="id_nombre" type="text" name="nombre" />
  </p>
  <p>
    <label for="id_color">Selecciona un color:</label>
    <select id="id_color" name="color">
      <option value="rojo">Rojo</option>
      <option value="verde">Verde</option>
      <option value="azul">Azul</option>
    </select>
  </p>
  <p>
    <input type="submit" value="Púshale" />
  </p>
</form>