<!DOCTYPE html>

<html lang="es">
  <head>
    <% if (typeof titulo === 'undefined') var titulo = 'Sin título'; %> 
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <h1><%= titulo %></h1>
    <%- body %>
  </body>
</html>
